*.iml
.gradle
/.idea
/local.properties
/.idea/caches
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build/
/captures
.externalNativeBuild
.cxx
local.properties
/app/google-services.json